{% load staticfiles %}
{% include 'header.html' %}

<div class="center">
    {% include 'nav.html' %}

    <div class="main">
        <a href="javascript:history.go(-1);" class="back">返回上一步</a>
        <h3 style="text-align: center">程序配置</h3>
        <div class="form">
            <h4>名称</h4>
            <div class="form-group">
                <input type="text" id="name" placeholder="爬虫程序名，即“scrapy 中的 name=?”" style="width: 250px;">
            </div>
            <div class="form-group" id="area-select">
                <h4>地区</h4>
            </div>
            <br/>
            <button class="btn btn-primary next" id="save">保存</button>
        </div>
    </div>
</div>

{% include 'footer.html' %}

<script type="text/javascript" src="{% static 'js/area.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // 初始化省市
        var area = areaClass;
        area.father = $("#area-select");
        area.init("{% static 'json/area.json' %}");

        // 作修改
        var up = '创建';
        {% if origin %}
            up = '修改';
            var origin = {};
            var setSelect = function () {
                    origin.id = '{{ origin.id }}';
                    origin.area = '{{ origin.area }}'.split('-');
                if (!$.isEmptyObject(origin)) {
                    $("#s_province").val(origin.area[0]);
                    area.change(1);
                    if (typeof origin.area[1] != 'undefined' && origin.area[1] != '') {
                        $("#s_city").val(origin.area[1]);
                    }
                    area.change(2);
                    if (typeof origin.area[2] != 'undefined' && origin.area[2] != '') {
                        $("#s_county").val(origin.area[2]);
                    }
                }
            };
            area.last = setSelect;

            $("input[type=checkbox]").each(function () {
                if ($(this).attr('name') == '{{ origin.field }}') {
                    $(this).attr('checked', 'checked');
                }
            });
        {% endif %}


        $("#save").click(function () {
            // 检测名
            var name = $.trim($('#name').val());
            if (!name) {
                layer.alert('填上名称', {
                    title: '程序'
                });
                return false;
            }

            // 检测地区
            var province = $("#s_province").val();
            var city = $("#s_city").val();
            var county = $("#s_county").val();
            if (!province || province == '') {
                layer.alert('至少选择一个省份', {
                    title: '程序'
                });
                return false;
            } else if (!city || city == '') {
                layer.alert('至少选择一个地级市', {
                    title: '程序'
                });
                return false;
            }
            var area = province+'-'+city;

            var handle = '';
            if (up == 'create') {
                handle = '修改';
            } else {
                handle = '添加';
            }

            layer.confirm('确认'+handle+' '+ area +' 的爬虫程序？', {
                time: 0 //不自动关闭
                ,btn: ['是', '否']
                ,yes: function(index){
                    layer.close(index);
                    var loading = layer.load(2, {
                        shade: [0.2,'#000'] //0.2透明度的黑色背景
                    });
                    $.ajax({
                        'url': "{% url 'spiderSave' %}",
                        'async': true,
                        'type': 'POST',
                        'data': {
                            spider_id: '{{ origin.id }}',
                            name: name,
                            province: province,
                            city: city
                        },
                        'success': function (result) {
                            layer.close(loading);
                            if (result['status'] == 'success') {
                                window.location.href = "{% url 'spiderIndex' %}";
                            } else {
                                layer.alert(result['msg']+'<p>可能原因：爬虫名不存在或重复</p>', {
                                    title: '失败'
                                });
                            }
                        }
                    });
                }
            });
        });
    });
</script>