{% load staticfiles %}
{% include 'header.html' %}
<style type="text/css">
    select {
        width: 50px;
        height: 24px;
        margin-left: 10px;
    }
</style>

<div class="center">
    {% include 'nav.html' %}

    <div class="main">
        <h3>程序</h3>

        <div class="data-list">
            <div style="padding: 20px 10px;">
                <div class="search-area">
                    <div class="sa-ele">
                        <input class="se-con" name="name" placeholder="程序名称"/>
                        <select name="status">
                            <option value="0" selected>全部</option>
                            <option value="2">2x</option>
                            <option value="4">4x</option>
                            <option value="5">5x</option>
                            <option value="6">6x</option>
                        </select>
                    </div>
                    <div class="sa-ele">
                        <button class="search-action">搜索</button>
                    </div>
                </div>
                <table id="spider-list" grid-manager="spider-list"></table>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

<script type="text/javascript">
    var checkStatus = function (selector, url) {
        var http = null;
        if (window.XMLHttpRequest) {
            http = new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            http = new ActiveXObject("Microsoft.XMLHTTP");
        }

        if (http!=null) {
            http.selector = selector;
            http.onreadystatechange = function () {
                console.log(http);
            };
            http.open("GET", url, true);
            http.send(null);
        } else {
            alert("Your browser does not support XMLHTTP.");
        }

    };

    function state_Change(http) {
        console.log(http);
        if (http.readyState == 4) {// 4 = "loaded"
            console.log(http);
        }
    };

    $(document).ready(function () {
        var crawler = $('#spider-list');
        crawler.GM({
            disableCache: true
            ,height: '480px'
            ,pageSize: 10
            ,ajax_data: "{% url 'spiderList' %}"
            ,ajax_type: 'POST'
            ,query: {pluginId: 1}
            ,supportAjaxPage: true
            ,supportMenu: false
            ,columnData: [
                {
                    key: 'name',
                    text: '名称',
                    width: '12%'
                },
                {
                    key: 'source',
                    text: '网站',
                    width: '18%'
                },
                {
                    key: 'status',
                    text: '状态',
                    width: '6%',
                    template: function (value, row) {
                        var str = '<span style="color: ';
                        var color = 'black';
                        switch (value) {
                            case 200:
                                color = 'green';
                                break;
                            case 400:
                            case 401:
                            case 402:
                            case 403:
                                color = 'grey;';
                                break;
                            case 500:
                            case 503:
                                color = '#efd511;';
                                break;
                            case 600:
                            case 601:
                            case 602:
                                color = 'red;';
                                break;
                        }
                        str += color + '">' + value + '</span>';
                        return str;
                    }
                },
                {
                    key: 'url_name',
                    text: '爬取首页',
                    width: '12%',
                    template: function (value, row) {
                        return '<a href="'+value+'" title="'+value+'" target="_blank">'+value+'</a>';
                    }
                },
                {
                    key: 'province',
                    text: '省',
                    width: '5%'
                },
                {
                    key: 'city',
                    text: '市',
                    width: '5%'
                },
                {
                    key: 'county',
                    text: '区县',
                    width: '5%'
                },
                {
                    key: 'type',
                    text: '字段',
                    width: '5%',
                    align: 'center',
                    template: function (value) {
                        var str = '';
                        switch (value) {
                            case 0:
                                str = '中标';
                                break;
                            case 1:
                                str = '不良';
                                break;
                            case 2:
                                str = '荣誉';
                                break;
                            case 3:
                                str = '信用';
                                break;
                            case 4:
                                str = '企业';
                                break;
                            case 5:
                                str = '法院';
                                break;
                        }
                        return str;
                    }
                },
                {
                    key: 'who',
                    text: '作者',
                    width: '5%',
                    align: 'center'
                },
                {
                    key: 'update_who',
                    text: '维护',
                    width: '5%',
                    align: 'center'
                },
                {
                    key: 'check_time',
                    text: '维护时间',
                    width: '8%',
                    align: 'center'
                },
            ]
            ,requestHandler: function(request){
                request.name = $.trim($('input[name="name"]').val());
                request.status = $.trim($('select[name="status"]').val());
                return request;
            }
            ,ajax_success: function (response) {
                var res = JSON.parse(response);
                for (var i in res['data']) {
                    var selector = $('#spider-list tbody tr:eq('+i+') td:eq(5)');
                    checkStatus(selector, res['data'][i]['url_name']);
                }
            }
        });

        $('button.search-action').click(function () {
            crawler.GM('refreshGrid');
        });
        $('select[name="status"]').change(function () {
            crawler.GM('refreshGrid');
        });
    });
</script>