{% load staticfiles %}
{% include 'header.html' %}

<div class="center">
    {% include 'nav.html' %}

    <div class="main">
        <h3>程序
            <a class="btn btn-primary" style="margin: 10px" href="{% url 'spiderConfig' %}">
                <i class="fa fa-plus"></i> 创建
            </a>
        </h3>

        <div class="data-list">
            <div style="padding: 20px 10px;">
                <div class="search-area">
                    <div class="sa-ele">
                        <input class="se-con" name="name" placeholder="程序名称"/>
                    </div>
                    <div class="sa-ele">
                        <button class="search-action">搜索</button>
                    </div>
                </div>
                <table id="crawler-list" grid-manager="crawler-list"></table>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

<script type="text/javascript">
    $(document).ready(function () {
        var crawler = $('#crawler-list');
        {#crawler.GM('clear');#}
        crawler.GM({
            ajax_data: "{% url 'spiderList' %}"
            ,ajax_type: 'POST'
            ,query: {pluginId: 1}
            ,supportAjaxPage: true
            ,supportMenu: false
            ,columnData: [
                {
                    key: 'name',
                    text: '名称',
                    width: '35%',
                    template: function (nodeData, rowData) {
                        return '<span style="margin-left: 5px; font-size: 16px">'+rowData.name+'</span>';
                    }
                },
                {
                    key: 'area',
                    text: '地区',
                    width: '25%',
                    template: function (nodeData, rowData) {
                        return '<span style="margin-left: 5px;">'+rowData.province+'-'+rowData.city+'</span>';
                    }
                },
                {
                    key: 'user',
                    text: '创建者',
                    align: 'center',
                    width: '15%'
                },
                {
                    key: 'create_time',
                    text: '创建时间',
                    align: 'center'
                }
            ]
            ,requestHandler: function(request){
                request.name = $("input[name='name']").val();
                return request;
            }
        });

        $('.search-action').click(function () {
            crawler.GM('refreshGrid');
        });
    });
</script>