<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爬虫管理系统</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'GridManager/css/gm.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <script type="text/javascript" src="{% static 'jQuery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'echarts.common.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'GridManager/js/gm.js' %}"></script>
    <script type="text/javascript" src="{% static 'layer/layer.js' %}"></script>


{#    <link rel="stylesheet" href="{% static 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}">#}
{#    <link href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" rel="stylesheet" media="screen">#}
{#    <link rel="stylesheet" href="{% static 'VerticalMenu/VerticalMenu.css' %}">#}
</head>
<body>
<div class="container">
    <div class="header">
        <div class="pull-left">
            <h2 id="home" style="cursor: pointer;">爬虫应用管理系统</h2>
        </div>
        <div class="pull-right login-register">
            {{ request.session.user_name }} | <a href="">退出</a>
        </div>
    </div>
    <hr/>
