<div class="pull-left left-nav">
    <div class="VerticalMenu">
        <div>
            <div><span>爬虫</span><i class="fa fa-angle-right fa-lg"></i></div>
            <div name="xz">
                <div>
                    <div><span><a href="">应用</a></span></div>
                    <div><span><a href="">程序</a></span></div>
                </div>
            </div>
        </div>
        <div>
            <div><span>数据</span><i class="fa fa-angle-right fa-lg"></i></div>
            <div name="xz">
                <div>
                    <div><span><a href="">基本信息</a></span></div>
                </div>
                <div>
                    <div><span><a href="">中标信息</a></span></div>
                </div>
                <div>
                    <div><span><a href="">负面信息</a></span></div>
                </div>
                <div>
                    <div><span><a href="">荣誉信息</a></span></div>
                </div>
            </div>
        </div>
        <div>
            <div><span>日志</span><i class="fa fa-angle-right fa-lg"></i></div>
            <div name="xz">
                <div>
                    <div><span><a href="">系统日志</a></span></div>
                </div>
                <div>
                    <div><span><a href="">运行日志</a></span></div>
                </div>
            </div>
        </div>
    </div>
</div>